<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="instar">

	<select id="all" resultType="com.sns.vo">
		SELECT *
		FROM MEMBERS
		ORDER BY NAME
	</select>



	<select id="search_id_bio" resultType="userVO">

		SELECT U.u_id , F.CONTENT
		FROM USER_INFO U, FEED F
		WHERE U.U_IDX = F.U_IDX
		ORDER BY NAME;

	</select>

	<select id="id">
		SELECT ${u_id }
		FROM USER_INFO
		;

	</select>

	<select id="name">
		SELECT ${name }
		FROM USER_INFO
		;
	</select>




</mapper>







