@charset "UTF-8";

body {
	padding-top: 75px;
}

.bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 0.5rem;
	display: flex;
	left: 0;
	right: 0;
	background-color: white;
	border-bottom: 1px solid #dbdbdb;
	border-top: highlight;
}

.linkLine {
	text-decoration: none;
	color: inherit;
}

.home {
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding-top: 0.5rem;
	margin-top: auto;
	margin-bottom: auto;
	width: 600px;
	margin-right: 0;
	align-items: center;
}

.nav-icon {
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	font-size: 50px align-items: center;
}

.grid-head {
	float: inherit;
}

.grid-body {
	
}

.grid_table {
	margin-left: auto;
	margin-right: auto;
	width: 293px;
	height: 293px;
}

.total_search {
	width: 50%;
	height: 28px;
	font-size: 15px;
	margin-bottom: 8px;
}

.search_btn {
	font-size: 15px;
	height: 32px;
	margin-bottom: 8px;
}

.search_result {
	margin-left: 500px;
}

.write {
	width: 800px;
	height: 400px;
	margin: auto;
	margin-top: 120px;
}

.file {
	width: 500px;
	margin: auto;
	display: block;
	border-radius: 4px;
}

.post_content {
	width: 500px;
	margin: auto;
	display: block;
	border-radius: 4px;
}

.feed {
	width: 500px;
	margin: auto;
	display: block;
	margin-top: 50px;
}

#sbm {
	margin-top: 2px;
	height: 40px;
	background-color: #1E82FF;
	color: white;
	font-size: 20px;
	border: none;
	width: 634px;
	margin: auto;
	display: block;
	border-radius: 4px;
}

.img_box {
	width: 634px;
	height: 634px;
	margin: auto;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	width: 614px;
	height: 614px;
	background-size: cover;
	overflow: hidden;
	margin: 0 auto;
}

#f_input {
	height: 30px;
}

.main_body {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.feed_box {
	background-color: white;
	width: 480px;
	margin: 10px;
	height: 3000px;
}

.feed_img {
	width: 100%;
	height: 60%;
	object-fit: contain;
}

.feed_content {
	paddint: 10px;
}

.feed_like {
	padding: 0x 0px;
}

.feed_feply {
	padding: 0px 10px;
	display: flex;
	fiex-direction: column;
}

.profile_img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 5px;
}

.mem {
	margin-left: 30px;
	color: grey;
}

.feed_name {
	justify-content: space-between;
}

.box_pro {
	display: flex;
	align-items: center;
}

.btn {
	color: dodgerblue;
	background-color: write;
	margin-left: 130px;
	margin-bottom: 30px;
	border: none;
}

.butt {
	padding: 5px 10px;
}

.profile_name {
	margin-bottom: 400px;
}

a {
	text-decoration: none;
	color: inherit;
}