@charset "UTF-8";

body {
	background-color: #f6f7f7;
	width: 1800px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
}

.search_body {
	text-align: center;
	height: inherit;
	padding-top: 50px;
	float: inherit;
}

.bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 0.5rem;
	display: flex;
	left: 0;
	right: 0;
	background-color: white;
	border-bottom: 1px solid #dbdbdb;
	border-top: highlight;
	border-radius: 4px;
	font-size: 16px;
	font-style: italic;
	width: 100%;
}

.home {
	margin-left: auto;
	margin-right: auto;
}

.material-icons {
	font-size: 30px;
}

.material-icons-outlined {
	font-size: 30px;
}

.linkLine {
	text-decoration: none;
	color: inherit;
}

.container {
	padding-top: 0.5rem;
	margin-top: auto;
	margin-bottom: auto;
	width: 600px;
	margin-right: 0;
	align-items: center;
}

.nav-icon {
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	font-size: 30px;
}

.icon_space {
	padding: 8px;
}

.img_icon {
	background-image: url("../img/blank.png");
	height: 24px;
	width: 48px;
	display: inline-block;
}

.grid-head {
	float: inherit;
}

.search_grid {
	display: flex;
}

.grid-body {
	
}

.grid_table {
	margin-left: auto;
	margin-right: auto;
	width: 293px;
	height: 293px;
}

.total_search {
	width: 50%;
	height: 26px;
	font-size: 15px;
	padding-bottom: 0px;
	border-radius: 4px;
	border-style: solid;
}

.search_btn {
	font-size: 15px;
	height: 30px;
	border-radius: 4px;
}

.search_result {
	margin-right: auto;
}

.write {
	width: 550px;
	height: 900px;
	margin: 0 auto;
	margin-top: 120px;
	background-color: white;
	border-radius: 1%;
	border: 1px solid silver;
}

.file {
	width: 500px;
	margin-left: 100px;
	display: block;
	border-radius: 4px;
}

.post_content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 4px;
}

.feed {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	width: 400px;
}

.font1 {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;

}
#followBtn {
	border: none;
	padding : 5px;
	width : 100px;
	background-color: #1E82FF;
	color: white;	
	border-radius: 4px;
	
}

#followBtn:hover {
	background-color: #2c3338;
}

#sbm {
	margin-top: 2px;
	height: 40px;
	background-color: #1E82FF;
	color: white;
	font-size: 20px;
	border: none;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 4px;
}

#sbm:hover {
	background-color: #a7aaad;
}

.img_box {
	margin: auto;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	width: 400px;
	height: 400px;
	background-size: cover;
	overflow: hidden;
	margin: 0 auto;
}

#f_input {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 400px;
	height: 30px;
}

.main_body {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.center_body {
	text-align: center;
	height: 2000px;
	flex-direction: column;
	display: flex;
}

.feed_box {
	background-color: white;
	padding: 15px;
	border-radius: 1%;
	width: 634px;
	margin: 10px;
	float: inherit;
	border: 1px solid #dbdbdb;
}

.feed_img {
	padding: 8px;
	padding-top: 3px;
	width: 614px;
	height: 614px;
	object-fit: contain;
}

.feed_content {
	paddint: 10px;
}

.feed_like {
	padding: 0x 0px;
}

.feed_feply {
	padding: 0px 10px;
	display: flex;
	fiex-direction: column;
}

.profile_img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 5px;
}

.mem {
	margin-left: 30px;
	color: grey;
}

.feed_name {
	justify-content: space-between;
}

.box_pro {
	display: flex;
	align-items: center;
}

.btn {
	color: dodgerblue;
	background-color: write;
	margin-left: 130px;
	margin-bottom: 30px;
	border: none;
}

.butt {
	padding: 5px 10px;
}

.profile_name {
	margin-bottom: 400px;
}

.id_search_body {
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background-color: white;
	border: 1px solid silver;
}

a {
	text-decoration: none;
	color: inherit;
}

/*
sign up css -->
 */
.sign {
	background-color: white;
	border: 1.5px solid silver;
	border-radius: 10px;
	margin-left: 36%;
	width: 400px;
	height: 670px;
	text-align: center;
}

.sign h1 {
	text-align: center;
	font-size: 36px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	padding: 50px;
	font-style: italic;
}

.sign input {
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px;
	width: 230px;
	height: 40px;
	font-size: 1em;
	color: gray;
	padding-left: 10px;
}

.sign_update {
	background-color: white;
	border: 1.5px solid silver;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 700px;
	text-align: center;
}

.sign_update h1 {
	font-size: 2.5em;
	font-family: monospace;
	font-style: italic;
}

.sign_update input {
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px;
	width: 230px;
	height: 40px;
	font-size: 1em;
	color: gray;
	padding-left: 10px;
}

#uid {
	width: 180px;
}

#button1 {
	width: auto;
	height: 30px;
	font-size: 0.7em;
}

#button1:hover {
	background-color: #a7aaad;
}

#butt {
	text-align: center;
	width: 50px;
}

#subm {
	padding-left: 0px;
	text-align: center;
	width: 150px;
	background-color: #3582c4;
	color: white;
}

#butt:hover {
	background-color: #a7aaad;
}

#subm:hover {
	background-color: #0a4b78;
}

/*
<-- sign up css
 */